config/private
config/private/secrets.txt
commands/image/c_upocalypse.py
image/resources/logo_parts
__pycache__
.vscode
.env
database/fnaf.json
misc/multi_main.py
botrunner.py
commands/fun/c_game.py
test.py
misc/scripts